.css-sfd5e0sd54{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.css-f5e0fdf5e{
    margin: auto;
    margin-right: 10px;
    margin-left: 0;
}
.css-f5e0fdf5e svg{
	height: 21px;
	width: auto;
	fill:#585858;
}
.css-sdf5e0r{
    line-height: 17px;
    margin-left: 0;
    margin-right: 0;
    color: #FA6742;
    font-size: 21px;
    font-weight: 500;
}
.css-d58zfz8f svg{
    height: 22px;
    width: auto;
    fill: #585858;
}